<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="name">Product name</label>
        <input type="text" name="name" placeholder="productname">
        <label for="number">Enter price</label>
        <input type="Number" step="any" min="0" name="price" placeholder="price">
        <label for="category">It is a</label>
        <select name="category" id="">
            <option value="vegetable" >vegetable</option>
            <option value="dairy">dairy</option>
            <option value="fruit">fruit</option>
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>